body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position:relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
    
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #099C19;
}

.produtos li:hover h2 {
    font-size: 40px;
}

.produtos li:hover p {
    font-size:25px;
}

.produtos h2 { /* selecionando através da tag que vai ser usada*/
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 18px;
    
}

.preco {
    font-size: 22px;
    font-weight: bold;
    margin:10px 0 0;
}

footer {
    text-align: center;
    background: url("bg.jpg"); /* importando a imagem pelo css */
    padding: 40px 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display:block;
    font-size:20px;
    margin: 0 0 10px;
}

.input-padrao {
    display:block;
    margin: 0 0 10px;
    padding:10px 25px;
    width:50%;
}

.checkbox {
    margin:20px 0;
}

.enviar {
    width:40%; /* aumenta a largura */
    padding: 15px 0; /* aumenta o espaçamento */
    background:orange; /* muda a cor do fundo */ 
    color: white; /* muda a cor da fonte */
    font-weight: bold; /* fonte em negrito */
    font-size:20px; /* tamanho da fonte*/
    border:none; /* deixa sem borda padrão */
    border-radius: 5px; /* deixa a borda arredondada */
    transition: 1s all; /* muda o tempo da cor de fundo */
    cursor: pointer; /* muda o cursor*/
}

.enviar:hover { /* hover - quando o mouse esta em cima*/
    background: gray;
    transform: scale(1.2); /* Faz o aumento proprorcional com scale(numero)*/
    /* transform: rotate(70deg); inclinação */
}

table {
    margin: 20px 0 20px;
}

thead {
    background: #555555;
    color:white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px; /* a primeira é o espaçamento pra cima e pra baixo e o segundo para lateral */
}


/* CSS do Home */

.banner {
    width: 100%;
}

.titulo_principal{
    text-align: center;
    font-size: 2em; /* em significa o o tamanho proporcional em pixels */
    margin: 0 0 1em;
    clear: left; /* limpa o float da pagina */
    /* color: rgba(0, 0, 0, 0.2); deixa opaco em modo rgb */
    /* text-shadow: 2px 2px #FF0000; cria uma sombra no texto */
}
 /* 
bolocando a primeira linha em italico
    p:first-line {
        font-style: italic;
    }
*/

.titulo_principal:first-letter { /* deixando a primeira letra em negrito  */
    font-weight: bold;
}
/*
.titulo_principal:before {
    content: "[ ";
}

.titulo_principal:after {
    content: " ]";
}
*/

.principal {
    padding: 3m 0;
    background: #FEFEFE;
    width: 1000px;
    margin: 0 auto; 
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 270px;
    float: left; /* deixa o texto ao lado da imagem */
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888); /* faz o degrade de uma cor para a outra, caso queira mudar a direção usar o 90deg */
    /* linear - reto, radial - circulo*/
}

.mapa-conteudo {
    width: 1000px;
    margin: 0 auto; 
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
    /* box-shadow:inset 0 0 30px #FF0000; sombra interna do elemento */
}

.conteudo-beneficios {
    width:550px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top; /* alinha a lista verticalmente na parte de cima da imagem */
}

.itens {
    line-height: 1.5; /* altura da linha */
}
/*
.itens:first-child { 
     first - pseudo elemento pegando o primeiro elemento da lista
    .itens:nth-child(4) - pseudo elemento pegando o numero indicado da lista
    .itens:nth-child(2n) - pegando os numeros pares da lista
    font-weight: bold;
}
*/
.itens:before {
    content: "✭";
}

.img-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000; /* pode ser utilizado mais de uma sombra sendo dividido por "," */
    /* 1- X --- 2- Y --- 3-espalhamento da sombra ---  4- intensidade da borda --- 5- cor */
}

.img-beneficios:hover {
    opacity: 0.4; /* deixa esfumaçado */
}

.video {
    width: 560px;
    margin: 2em auto;
}

/*
seleciona as tag "p" que são os filhos diretos
main > p {
    background: red;
}

seleciona o primeiro paragrafo depois de uma imagem
img + p {
    background: blue;
}

seleciona todos os seletores depois de uma imagem
img ~ p {
    background: yellow;
}

eleciona todos que nao tem o id missao e deixa laranja
.principal p:not(#missao) {
    background: orange;
}
*/